# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          latest
          $(Build.BuildId)
        arguments: '--build-arg GIT_REPO_URL=${GIT_REPO_URL} --build-arg CI_TOP_DIR=${CI_TOP_DIR}'
    - task: Docker@2
      displayName: Push image
      inputs:
        containerRegistry: |
          ${ACR_URL}
        repository: "ci-phpunit-test"
        command: push
        tags: |
          latest